@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
body {
    font-family: 'Play', sans-serif;
    color: #f6f6f6;
    background-color: #001c32;
  }

/* Disabling AOS delay on mobile device */
  @media screen and (max-width: 768px) {
    [data-aos-delay] {
      transition-delay: 0 !important;
    }
  }
/* ziAbs main page section */
#ziabs {
    width: 100%;
    height: 100vh;
    background: url("../img/bg.png");
    position: relative;
    /* background-color: #1aaede; */
  }
  
  #ziabs .ziabs-container {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 15px;
    margin-top: -66px;
  }
  
  #ziabs .ziabs-logo {
    margin-bottom: 30px;
  }
  @media (min-width: 1024px) {
    #ziabs {
      background-attachment: fixed;
    }
  }
  .welcome,.email a{
    margin: 0px;
    color: #f6f6f6;
  }
  .email a:hover,.email a:focus{
    color: #f6f6f6;
  }
/* ------------------------------------------------------------------------------------- */
.footer-bottom {
    border-top: 1px solid #d90000;
    z-index: 2;
    position: relative;
    padding: 6px;
    text-align: center;
  }
.copyright {
    text-align: center;
  }
.copyright .c{
    color: #d90000;
}
.copyright .a{
    color: #1aaede;
}